@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/*
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */


font-family: 'Comfortaa', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Modern Antiqua', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Cookie', cursive;
font-family: 'Hi Melody', cursive;
font-family: 'Oswald', sans-serif;
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	-webkit-text-size-adjust: none;
}
/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Containers */

.container {
	margin-left: auto;
	margin-right: auto;
}
 .container.\31 25\25 {
 width: 100%;
 max-width: 100rem;
 min-width: 80rem;
}
 .container.\37 5\25 {
 width: 60rem;
}
 .container.\35 0\25 {
 width: 40rem;
}
 .container.\32 5\25 {
 width: 20rem;
}
.container {
	width: 80rem;
}

@media screen and (max-width: 1680px) {
 .container.\31 25\25 {
 width: 100%;
 max-width: 100rem;
 min-width: 80rem;
}
 .container.\37 5\25 {
 width: 60rem;
}
 .container.\35 0\25 {
 width: 40rem;
}
 .container.\32 5\25 {
 width: 20rem;
}
.container {
	width: 80rem;
}
}

@media screen and (max-width: 1280px) {
 .container.\31 25\25 {
 width: 100%;
 max-width: 81.25rem;
 min-width: 65rem;
}
 .container.\37 5\25 {
 width: 48.75rem;
}
 .container.\35 0\25 {
 width: 32.5rem;
}
 .container.\32 5\25 {
 width: 16.25rem;
}
.container {
	width: 65rem;
}
}

@media screen and (max-width: 980px) {
 .container.\31 25\25 {
 width: 100%;
 max-width: 112.5%;
 min-width: 90%;
}
 .container.\37 5\25 {
 width: 67.5%;
}
 .container.\35 0\25 {
 width: 45%;
}
 .container.\32 5\25 {
 width: 22.5%;
}
.container {
	width: 90%;
}
}

@media screen and (max-width: 736px) {
 .container.\31 25\25 {
 width: 100%;
 max-width: 112.5%;
 min-width: 90%;
}
 .container.\37 5\25 {
 width: 67.5%;
}
 .container.\35 0\25 {
 width: 45%;
}
 .container.\32 5\25 {
 width: 22.5%;
}
.container {
	width: 90% !important;
}
}

@media screen and (max-width: 480px) {
 .container.\31 25\25 {
 width: 100%;
 max-width: 112.5%;
 min-width: 90%;
}
 .container.\37 5\25 {
 width: 67.5%;
}
 .container.\35 0\25 {
 width: 45%;
}
 .container.\32 5\25 {
 width: 22.5%;
}
.container {
	width: 90% !important;
}
}
/* Grid */

.row {
	border-bottom: solid 1px transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.row > * {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.row:after, .row:before {
	content: '';
	display: block;
	clear: both;
	height: 0;
}
.row.uniform > * > :first-child {
	margin-top: 0;
}
.row.uniform > * > :last-child {
	margin-bottom: 0;
}
.row.\30 \25 > * {
	padding: 0 0 0 0rem;
}
.row.\30 \25 {
	margin: 0 0 -1px 0rem;
}
.row.uniform.\30 \25 > * {
	padding: 0rem 0 0 0rem;
}
.row.uniform.\30 \25 {
	margin: 0rem 0 -1px 0rem;
}
.row > * {
	padding: 0 0 0 2rem;
}
.row {
	margin: 0 0 -1px -2rem;
}
.row.uniform > * {
	padding: 2rem 0 0 2rem;
}
.row.uniform {
	margin: -2rem 0 -1px -2rem;
}
 .row.\32 00\25 > * {
 padding: 0 0 0 4rem;
}
 .row.\32 00\25 {
 margin: 0 0 -1px -4rem;
}
 .row.uniform.\32 00\25 > * {
 padding: 4rem 0 0 4rem;
}
 .row.uniform.\32 00\25 {
 margin: -4rem 0 -1px -4rem;
}
 .row.\31 50\25 > * {
 padding: 0 0 0 3rem;
}
 .row.\31 50\25 {
 margin: 0 0 -1px -3rem;
}
 .row.uniform.\31 50\25 > * {
 padding: 3rem 0 0 3rem;
}
 .row.uniform.\31 50\25 {
 margin: -3rem 0 -1px -3rem;
}
 .row.\35 0\25 > * {
 padding: 0 0 0 1rem;
}
 .row.\35 0\25 {
 margin: 0 0 -1px -1rem;
}
 .row.uniform.\35 0\25 > * {
 padding: 1rem 0 0 1rem;
}
 .row.uniform.\35 0\25 {
 margin: -1rem 0 -1px -1rem;
}
 .row.\32 5\25 > * {
 padding: 0 0 0 0.5rem;
}
 .row.\32 5\25 {
 margin: 0 0 -1px -0.5rem;
}
 .row.uniform.\32 5\25 > * {
 padding: 0.5rem 0 0 0.5rem;
}
 .row.uniform.\32 5\25 {
 margin: -0.5rem 0 -1px -0.5rem;
}
 .\31 2u, .\31 2u\24 {
 width: 100%;
 clear: none;
 margin-left: 0;
}
 .\31 1u, .\31 1u\24 {
 width: 91.6666666667%;
 clear: none;
 margin-left: 0;
}
 .\31 0u, .\31 0u\24 {
 width: 83.3333333333%;
 clear: none;
 margin-left: 0;
}
.\39 u, .\39 u\24 {
	width: 75%;
	clear: none;
	margin-left: 0;
}
.\38 u, .\38 u\24 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}
.\37 u, .\37 u\24 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}
.\36 u, .\36 u\24 {
	width: 50%;
	clear: none;
	margin-left: 0;
}
.\35 u, .\35 u\24 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}
.\34 u, .\34 u\24 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}
.\33 u, .\33 u\24 {
	width: 25%;
	clear: none;
	margin-left: 0;
}
.\32 u, .\32 u\24 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}
.\31 u, .\31 u\24 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}
 .\31 2u\24 + *,  .\31 1u\24 + *,  .\31 0u\24 + *,  .\39 u\24 + *,  .\38 u\24 + *,  .\37 u\24 + *,  .\36 u\24 + *,  .\35 u\24 + *,  .\34 u\24 + *,  .\33 u\24 + *,  .\32 u\24 + *,  .\31 u\24 + * {
 clear: left;
}
.\-11u {
	margin-left: 91.66667%;
}
.\-10u {
	margin-left: 83.33333%;
}
.\-9u {
	margin-left: 75%;
}
.\-8u {
	margin-left: 66.66667%;
}
.\-7u {
	margin-left: 58.33333%;
}
.\-6u {
	margin-left: 50%;
}
.\-5u {
	margin-left: 41.66667%;
}
.\-4u {
	margin-left: 33.33333%;
}
.\-3u {
	margin-left: 25%;
}
.\-2u {
	margin-left: 16.66667%;
}
.\-1u {
	margin-left: 8.33333%;
}

@media screen and (max-width: 1680px) {
.row > * {
	padding: 0 0 0 2rem;
}
.row {
	margin: 0 0 -1px -2rem;
}
.row.uniform > * {
	padding: 2rem 0 0 2rem;
}
.row.uniform {
	margin: -2rem 0 -1px -2rem;
}
 .row.\32 00\25 > * {
 padding: 0 0 0 4rem;
}
 .row.\32 00\25 {
 margin: 0 0 -1px -4rem;
}
 .row.uniform.\32 00\25 > * {
 padding: 4rem 0 0 4rem;
}
 .row.uniform.\32 00\25 {
 margin: -4rem 0 -1px -4rem;
}
 .row.\31 50\25 > * {
 padding: 0 0 0 3rem;
}
 .row.\31 50\25 {
 margin: 0 0 -1px -3rem;
}
 .row.uniform.\31 50\25 > * {
 padding: 3rem 0 0 3rem;
}
 .row.uniform.\31 50\25 {
 margin: -3rem 0 -1px -3rem;
}
 .row.\35 0\25 > * {
 padding: 0 0 0 1rem;
}
 .row.\35 0\25 {
 margin: 0 0 -1px -1rem;
}
 .row.uniform.\35 0\25 > * {
 padding: 1rem 0 0 1rem;
}
 .row.uniform.\35 0\25 {
 margin: -1rem 0 -1px -1rem;
}
 .row.\32 5\25 > * {
 padding: 0 0 0 0.5rem;
}
 .row.\32 5\25 {
 margin: 0 0 -1px -0.5rem;
}
 .row.uniform.\32 5\25 > * {
 padding: 0.5rem 0 0 0.5rem;
}
 .row.uniform.\32 5\25 {
 margin: -0.5rem 0 -1px -0.5rem;
}
 .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
 width: 100%;
 clear: none;
 margin-left: 0;
}
 .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
 width: 91.6666666667%;
 clear: none;
 margin-left: 0;
}
 .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
 width: 83.3333333333%;
 clear: none;
 margin-left: 0;
}
.\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
	width: 75%;
	clear: none;
	margin-left: 0;
}
.\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}
.\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}
.\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
	width: 50%;
	clear: none;
	margin-left: 0;
}
.\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}
.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}
.\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
	width: 25%;
	clear: none;
	margin-left: 0;
}
.\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}
.\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}
 .\31 2u\24\28xlarge\29 + *,  .\31 1u\24\28xlarge\29 + *,  .\31 0u\24\28xlarge\29 + *,  .\39 u\24\28xlarge\29 + *,  .\38 u\24\28xlarge\29 + *,  .\37 u\24\28xlarge\29 + *,  .\36 u\24\28xlarge\29 + *,  .\35 u\24\28xlarge\29 + *,  .\34 u\24\28xlarge\29 + *,  .\33 u\24\28xlarge\29 + *,  .\32 u\24\28xlarge\29 + *,  .\31 u\24\28xlarge\29 + * {
 clear: left;
}
.\-11u\28xlarge\29 {
	margin-left: 91.66667%;
}
.\-10u\28xlarge\29 {
	margin-left: 83.33333%;
}
.\-9u\28xlarge\29 {
	margin-left: 75%;
}
.\-8u\28xlarge\29 {
	margin-left: 66.66667%;
}
.\-7u\28xlarge\29 {
	margin-left: 58.33333%;
}
.\-6u\28xlarge\29 {
	margin-left: 50%;
}
.\-5u\28xlarge\29 {
	margin-left: 41.66667%;
}
.\-4u\28xlarge\29 {
	margin-left: 33.33333%;
}
.\-3u\28xlarge\29 {
	margin-left: 25%;
}
.\-2u\28xlarge\29 {
	margin-left: 16.66667%;
}
.\-1u\28xlarge\29 {
	margin-left: 8.33333%;
}
}

@media screen and (max-width: 1280px) {
.row > * {
	padding: 0 0 0 1.5rem;
}
.row {
	margin: 0 0 -1px -1.5rem;
}
.row.uniform > * {
	padding: 1.5rem 0 0 1.5rem;
}
.row.uniform {
	margin: -1.5rem 0 -1px -1.5rem;
}
 .row.\32 00\25 > * {
 padding: 0 0 0 3rem;
}
 .row.\32 00\25 {
 margin: 0 0 -1px -3rem;
}
 .row.uniform.\32 00\25 > * {
 padding: 3rem 0 0 3rem;
}
 .row.uniform.\32 00\25 {
 margin: -3rem 0 -1px -3rem;
}
 .row.\31 50\25 > * {
 padding: 0 0 0 2.25rem;
}
 .row.\31 50\25 {
 margin: 0 0 -1px -2.25rem;
}
 .row.uniform.\31 50\25 > * {
 padding: 2.25rem 0 0 2.25rem;
}
 .row.uniform.\31 50\25 {
 margin: -2.25rem 0 -1px -2.25rem;
}
 .row.\35 0\25 > * {
 padding: 0 0 0 0.75rem;
}
 .row.\35 0\25 {
 margin: 0 0 -1px -0.75rem;
}
 .row.uniform.\35 0\25 > * {
 padding: 0.75rem 0 0 0.75rem;
}
 .row.uniform.\35 0\25 {
 margin: -0.75rem 0 -1px -0.75rem;
}
 .row.\32 5\25 > * {
 padding: 0 0 0 0.375rem;
}
 .row.\32 5\25 {
 margin: 0 0 -1px -0.375rem;
}
 .row.uniform.\32 5\25 > * {
 padding: 0.375rem 0 0 0.375rem;
}
 .row.uniform.\32 5\25 {
 margin: -0.375rem 0 -1px -0.375rem;
}
 .\31 2u\28large\29, .\31 2u\24\28large\29 {
 width: 100%;
 clear: none;
 margin-left: 0;
}
 .\31 1u\28large\29, .\31 1u\24\28large\29 {
 width: 91.6666666667%;
 clear: none;
 margin-left: 0;
}
 .\31 0u\28large\29, .\31 0u\24\28large\29 {
 width: 83.3333333333%;
 clear: none;
 margin-left: 0;
}
.\39 u\28large\29, .\39 u\24\28large\29 {
	width: 75%;
	clear: none;
	margin-left: 0;
}
.\38 u\28large\29, .\38 u\24\28large\29 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}
.\37 u\28large\29, .\37 u\24\28large\29 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}
.\36 u\28large\29, .\36 u\24\28large\29 {
	width: 50%;
	clear: none;
	margin-left: 0;
}
.\35 u\28large\29, .\35 u\24\28large\29 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}
.\34 u\28large\29, .\34 u\24\28large\29 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}
.\33 u\28large\29, .\33 u\24\28large\29 {
	width: 25%;
	clear: none;
	margin-left: 0;
}
.\32 u\28large\29, .\32 u\24\28large\29 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}
.\31 u\28large\29, .\31 u\24\28large\29 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}
 .\31 2u\24\28large\29 + *,  .\31 1u\24\28large\29 + *,  .\31 0u\24\28large\29 + *,  .\39 u\24\28large\29 + *,  .\38 u\24\28large\29 + *,  .\37 u\24\28large\29 + *,  .\36 u\24\28large\29 + *,  .\35 u\24\28large\29 + *,  .\34 u\24\28large\29 + *,  .\33 u\24\28large\29 + *,  .\32 u\24\28large\29 + *,  .\31 u\24\28large\29 + * {
 clear: left;
}
.\-11u\28large\29 {
	margin-left: 91.66667%;
}
.\-10u\28large\29 {
	margin-left: 83.33333%;
}
.\-9u\28large\29 {
	margin-left: 75%;
}
.\-8u\28large\29 {
	margin-left: 66.66667%;
}
.\-7u\28large\29 {
	margin-left: 58.33333%;
}
.\-6u\28large\29 {
	margin-left: 50%;
}
.\-5u\28large\29 {
	margin-left: 41.66667%;
}
.\-4u\28large\29 {
	margin-left: 33.33333%;
}
.\-3u\28large\29 {
	margin-left: 25%;
}
.\-2u\28large\29 {
	margin-left: 16.66667%;
}
.\-1u\28large\29 {
	margin-left: 8.33333%;
}
}

@media screen and (max-width: 980px) {
.row > * {
	padding: 0 0 0 1.5rem;
}
.row {
	margin: 0 0 -1px -1.5rem;
}
.row.uniform > * {
	padding: 1.5rem 0 0 1.5rem;
}
.row.uniform {
	margin: -1.5rem 0 -1px -1.5rem;
}
 .row.\32 00\25 > * {
 padding: 0 0 0 3rem;
}
 .row.\32 00\25 {
 margin: 0 0 -1px -3rem;
}
 .row.uniform.\32 00\25 > * {
 padding: 3rem 0 0 3rem;
}
 .row.uniform.\32 00\25 {
 margin: -3rem 0 -1px -3rem;
}
 .row.\31 50\25 > * {
 padding: 0 0 0 2.25rem;
}
 .row.\31 50\25 {
 margin: 0 0 -1px -2.25rem;
}
 .row.uniform.\31 50\25 > * {
 padding: 2.25rem 0 0 2.25rem;
}
 .row.uniform.\31 50\25 {
 margin: -2.25rem 0 -1px -2.25rem;
}
 .row.\35 0\25 > * {
 padding: 0 0 0 0.75rem;
}
 .row.\35 0\25 {
 margin: 0 0 -1px -0.75rem;
}
 .row.uniform.\35 0\25 > * {
 padding: 0.75rem 0 0 0.75rem;
}
 .row.uniform.\35 0\25 {
 margin: -0.75rem 0 -1px -0.75rem;
}
 .row.\32 5\25 > * {
 padding: 0 0 0 0.375rem;
}
 .row.\32 5\25 {
 margin: 0 0 -1px -0.375rem;
}
 .row.uniform.\32 5\25 > * {
 padding: 0.375rem 0 0 0.375rem;
}
 .row.uniform.\32 5\25 {
 margin: -0.375rem 0 -1px -0.375rem;
}
 .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
 width: 100%;
 clear: none;
 margin-left: 0;
}
 .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
 width: 91.6666666667%;
 clear: none;
 margin-left: 0;
}
 .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
 width: 83.3333333333%;
 clear: none;
 margin-left: 0;
}
.\39 u\28medium\29, .\39 u\24\28medium\29 {
	width: 75%;
	clear: none;
	margin-left: 0;
}
.\38 u\28medium\29, .\38 u\24\28medium\29 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}
.\37 u\28medium\29, .\37 u\24\28medium\29 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}
.\36 u\28medium\29, .\36 u\24\28medium\29 {
	width: 50%;
	clear: none;
	margin-left: 0;
}
.\35 u\28medium\29, .\35 u\24\28medium\29 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}
.\34 u\28medium\29, .\34 u\24\28medium\29 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}
.\33 u\28medium\29, .\33 u\24\28medium\29 {
	width: 25%;
	clear: none;
	margin-left: 0;
}
.\32 u\28medium\29, .\32 u\24\28medium\29 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}
.\31 u\28medium\29, .\31 u\24\28medium\29 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}
 .\31 2u\24\28medium\29 + *,  .\31 1u\24\28medium\29 + *,  .\31 0u\24\28medium\29 + *,  .\39 u\24\28medium\29 + *,  .\38 u\24\28medium\29 + *,  .\37 u\24\28medium\29 + *,  .\36 u\24\28medium\29 + *,  .\35 u\24\28medium\29 + *,  .\34 u\24\28medium\29 + *,  .\33 u\24\28medium\29 + *,  .\32 u\24\28medium\29 + *,  .\31 u\24\28medium\29 + * {
 clear: left;
}
.\-11u\28medium\29 {
	margin-left: 91.66667%;
}
.\-10u\28medium\29 {
	margin-left: 83.33333%;
}
.\-9u\28medium\29 {
	margin-left: 75%;
}
.\-8u\28medium\29 {
	margin-left: 66.66667%;
}
.\-7u\28medium\29 {
	margin-left: 58.33333%;
}
.\-6u\28medium\29 {
	margin-left: 50%;
}
.\-5u\28medium\29 {
	margin-left: 41.66667%;
}
.\-4u\28medium\29 {
	margin-left: 33.33333%;
}
.\-3u\28medium\29 {
	margin-left: 25%;
}
.\-2u\28medium\29 {
	margin-left: 16.66667%;
}
.\-1u\28medium\29 {
	margin-left: 8.33333%;
}
}

@media screen and (max-width: 736px) {
.row > * {
	padding: 0 0 0 1.25rem;
}
.row {
	margin: 0 0 -1px -1.25rem;
}
.row.uniform > * {
	padding: 1.25rem 0 0 1.25rem;
}
.row.uniform {
	margin: -1.25rem 0 -1px -1.25rem;
}
 .row.\32 00\25 > * {
 padding: 0 0 0 2.5rem;
}
 .row.\32 00\25 {
 margin: 0 0 -1px -2.5rem;
}
 .row.uniform.\32 00\25 > * {
 padding: 2.5rem 0 0 2.5rem;
}
 .row.uniform.\32 00\25 {
 margin: -2.5rem 0 -1px -2.5rem;
}
 .row.\31 50\25 > * {
 padding: 0 0 0 1.875rem;
}
 .row.\31 50\25 {
 margin: 0 0 -1px -1.875rem;
}
 .row.uniform.\31 50\25 > * {
 padding: 1.875rem 0 0 1.875rem;
}
 .row.uniform.\31 50\25 {
 margin: -1.875rem 0 -1px -1.875rem;
}
 .row.\35 0\25 > * {
 padding: 0 0 0 0.625rem;
}
 .row.\35 0\25 {
 margin: 0 0 -1px -0.625rem;
}
 .row.uniform.\35 0\25 > * {
 padding: 0.625rem 0 0 0.625rem;
}
 .row.uniform.\35 0\25 {
 margin: -0.625rem 0 -1px -0.625rem;
}
 .row.\32 5\25 > * {
 padding: 0 0 0 0.3125rem;
}
 .row.\32 5\25 {
 margin: 0 0 -1px -0.3125rem;
}
 .row.uniform.\32 5\25 > * {
 padding: 0.3125rem 0 0 0.3125rem;
}
 .row.uniform.\32 5\25 {
 margin: -0.3125rem 0 -1px -0.3125rem;
}
 .\31 2u\28small\29, .\31 2u\24\28small\29 {
 width: 100%;
 clear: none;
 margin-left: 0;
}
 .\31 1u\28small\29, .\31 1u\24\28small\29 {
 width: 91.6666666667%;
 clear: none;
 margin-left: 0;
}
 .\31 0u\28small\29, .\31 0u\24\28small\29 {
 width: 83.3333333333%;
 clear: none;
 margin-left: 0;
}
.\39 u\28small\29, .\39 u\24\28small\29 {
	width: 75%;
	clear: none;
	margin-left: 0;
}
.\38 u\28small\29, .\38 u\24\28small\29 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}
.\37 u\28small\29, .\37 u\24\28small\29 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}
.\36 u\28small\29, .\36 u\24\28small\29 {
	width: 50%;
	clear: none;
	margin-left: 0;
}
.\35 u\28small\29, .\35 u\24\28small\29 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}
.\34 u\28small\29, .\34 u\24\28small\29 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}
.\33 u\28small\29, .\33 u\24\28small\29 {
	width: 25%;
	clear: none;
	margin-left: 0;
}
.\32 u\28small\29, .\32 u\24\28small\29 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}
.\31 u\28small\29, .\31 u\24\28small\29 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}
 .\31 2u\24\28small\29 + *,  .\31 1u\24\28small\29 + *,  .\31 0u\24\28small\29 + *,  .\39 u\24\28small\29 + *,  .\38 u\24\28small\29 + *,  .\37 u\24\28small\29 + *,  .\36 u\24\28small\29 + *,  .\35 u\24\28small\29 + *,  .\34 u\24\28small\29 + *,  .\33 u\24\28small\29 + *,  .\32 u\24\28small\29 + *,  .\31 u\24\28small\29 + * {
 clear: left;
}
.\-11u\28small\29 {
	margin-left: 91.66667%;
}
.\-10u\28small\29 {
	margin-left: 83.33333%;
}
.\-9u\28small\29 {
	margin-left: 75%;
}
.\-8u\28small\29 {
	margin-left: 66.66667%;
}
.\-7u\28small\29 {
	margin-left: 58.33333%;
}
.\-6u\28small\29 {
	margin-left: 50%;
}
.\-5u\28small\29 {
	margin-left: 41.66667%;
}
.\-4u\28small\29 {
	margin-left: 33.33333%;
}
.\-3u\28small\29 {
	margin-left: 25%;
}
.\-2u\28small\29 {
	margin-left: 16.66667%;
}
.\-1u\28small\29 {
	margin-left: 8.33333%;
}
}

@media screen and (max-width: 480px) {
.row > * {
	padding: 0 0 0 1.25rem;
}
.row {
	margin: 0 0 -1px -1.25rem;
}
.row.uniform > * {
	padding: 1.25rem 0 0 1.25rem;
}
.row.uniform {
	margin: -1.25rem 0 -1px -1.25rem;
}
 .row.\32 00\25 > * {
 padding: 0 0 0 2.5rem;
}
 .row.\32 00\25 {
 margin: 0 0 -1px -2.5rem;
}
 .row.uniform.\32 00\25 > * {
 padding: 2.5rem 0 0 2.5rem;
}
 .row.uniform.\32 00\25 {
 margin: -2.5rem 0 -1px -2.5rem;
}
 .row.\31 50\25 > * {
 padding: 0 0 0 1.875rem;
}
 .row.\31 50\25 {
 margin: 0 0 -1px -1.875rem;
}
 .row.uniform.\31 50\25 > * {
 padding: 1.875rem 0 0 1.875rem;
}
 .row.uniform.\31 50\25 {
 margin: -1.875rem 0 -1px -1.875rem;
}
 .row.\35 0\25 > * {
 padding: 0 0 0 0.625rem;
}
 .row.\35 0\25 {
 margin: 0 0 -1px -0.625rem;
}
 .row.uniform.\35 0\25 > * {
 padding: 0.625rem 0 0 0.625rem;
}
 .row.uniform.\35 0\25 {
 margin: -0.625rem 0 -1px -0.625rem;
}
 .row.\32 5\25 > * {
 padding: 0 0 0 0.3125rem;
}
 .row.\32 5\25 {
 margin: 0 0 -1px -0.3125rem;
}
 .row.uniform.\32 5\25 > * {
 padding: 0.3125rem 0 0 0.3125rem;
}
 .row.uniform.\32 5\25 {
 margin: -0.3125rem 0 -1px -0.3125rem;
}
 .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
 width: 100%;
 clear: none;
 margin-left: 0;
}
 .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
 width: 91.6666666667%;
 clear: none;
 margin-left: 0;
}
 .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
 width: 83.3333333333%;
 clear: none;
 margin-left: 0;
}
.\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
	width: 75%;
	clear: none;
	margin-left: 0;
}
.\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}
.\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}
.\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
	width: 50%;
	clear: none;
	margin-left: 0;
}
.\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}
.\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}
.\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
	width: 25%;
	clear: none;
	margin-left: 0;
}
.\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}
.\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}
 .\31 2u\24\28xsmall\29 + *,  .\31 1u\24\28xsmall\29 + *,  .\31 0u\24\28xsmall\29 + *,  .\39 u\24\28xsmall\29 + *,  .\38 u\24\28xsmall\29 + *,  .\37 u\24\28xsmall\29 + *,  .\36 u\24\28xsmall\29 + *,  .\35 u\24\28xsmall\29 + *,  .\34 u\24\28xsmall\29 + *,  .\33 u\24\28xsmall\29 + *,  .\32 u\24\28xsmall\29 + *,  .\31 u\24\28xsmall\29 + * {
 clear: left;
}
.\-11u\28xsmall\29 {
	margin-left: 91.66667%;
}
.\-10u\28xsmall\29 {
	margin-left: 83.33333%;
}
.\-9u\28xsmall\29 {
	margin-left: 75%;
}
.\-8u\28xsmall\29 {
	margin-left: 66.66667%;
}
.\-7u\28xsmall\29 {
	margin-left: 58.33333%;
}
.\-6u\28xsmall\29 {
	margin-left: 50%;
}
.\-5u\28xsmall\29 {
	margin-left: 41.66667%;
}
.\-4u\28xsmall\29 {
	margin-left: 33.33333%;
}
.\-3u\28xsmall\29 {
	margin-left: 25%;
}
.\-2u\28xsmall\29 {
	margin-left: 16.66667%;
}
.\-1u\28xsmall\29 {
	margin-left: 8.33333%;
}
}

/* Basic */

	@-ms-viewport {
 width: device-width;
}
body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
html, body {
	min-width: 320px;
}
}
body {
	background: #fff;
}
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
/* Type */

html {
	font-size: 13pt;
}

@media screen and (max-width: 1680px) {
html {
	font-size: 11pt;
}
}

@media screen and (max-width: 1280px) {
html {
	font-size: 11pt;
}
}

@media screen and (max-width: 980px) {
html {
	font-size: 12pt;
}
}

@media screen and (max-width: 736px) {
html {
	font-size: 12pt;
}
}

@media screen and (max-width: 480px) {
html {
	font-size: 12pt;
}
}

.hub-title {
	font-family: pacifico;
	font-size: 8vw;
	color: rgba(255,255,255,0.77);
	text-decoration: none;
}

body {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.5);
}
body, input, select, textarea {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.65;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
strong, b {
	font-weight: 600;
}
em, i {
	font-style: italic;
}
p {
	margin: 0 0 2rem 0;
}
p:last-child {
	margin: 0;
}
p.special {
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: 300;
	margin: 0 0 .5rem 0;
	padding: 0 0 1rem 0;
	letter-spacing: .25rem;
}
p.special:after {
	content: '';
	position: absolute;
	margin: auto;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.0);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 1rem 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.35rem;
}
h4 {
	font-size: 1.1rem;
}
h5 {
	font-size: 0.9rem;
}
h6 {
	font-size: 0.7rem;
}
sub {
	font-size: 0.8rem;
	position: relative;
	top: 0.5rem;
}
sup {
	font-size: 0.8rem;
	position: relative;
	top: -0.5rem;
}
blockquote {
	border-left: solid 4px;
	font-style: italic;
	margin: 0 0 2rem 0;
	padding: 0.5rem 0 0.5rem 2rem;
}
code {
	border-radius: 4px;
	border: solid 1px;
	font-family: "Courier New", monospace;
	font-size: 0.9rem;
	margin: 0 0.25rem;
	padding: 0.25rem 0.65rem;
}
pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;
}
pre code {
	display: block;
	line-height: 1.75;
	padding: 1rem 1.5rem;
	overflow-x: auto;
}
hr {
	border: 0;
	border-bottom: solid 1px;
	margin: 2rem 0;
}
hr.major {
	margin: 3rem 0;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
input, select, textarea {
	color: #1e1f23;
}
a {
	color: #54a354;
}
strong, b {
	color: #1e1f23;
}
h1, h2, h3, h4, h5, h6 {
	color: #1e1f23;
}
blockquote {
	border-left-color: rgba(144, 144, 144, 0.25);
}
code {
	background: rgba(144, 144, 144, 0.075);
	border-color: rgba(144, 144, 144, 0.25);
}
hr {
	border-bottom-color: rgba(144, 144, 144, 0.25);
}
/* Box */

.box {
	margin-bottom: 2rem;
	background: rgba(255, 255, 255, 0.95);
	border-radius: 4px;
}
.box .image.fit {
	margin: 0;
	border-radius: 0;
}
.box .image.fit img {
	border-radius: 0;
}
.box header {
	margin: 0 0 2rem 0;
}
.box header h2 {
	margin-bottom: 1rem;
	position: relative;
	padding-bottom: 1rem;
	font-weight: 700;
}
.box header h2:after {
	content: '';
	position: absolute;
	margin: auto;
	right: 0;
	bottom: 0;
	left: 0;
	width: 10%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.125);
}
.box header p {
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: 300;
	margin: 1rem 0;
	padding: 0;
	letter-spacing: .25rem;
}
.box .content {
	padding: 3rem;
}
.box > :last-child,  .box > :last-child > :last-child,  .box > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}
.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

@media screen and (max-width: 736px) {
.box .content {
	padding: 2rem;
}
}
.box {
	border-color: rgba(144, 144, 144, 0.25);
}
/* Button */

input[type="submit"],  input[type="reset"],  input[type="button"],  button,  .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	height: 2.85rem;
	line-height: 2.95rem;
	padding: 0 1.5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}
input[type="submit"].icon,  input[type="reset"].icon,  input[type="button"].icon,  button.icon,  .button.icon {
	padding-left: 1.35rem;
}
input[type="submit"].icon:before,  input[type="reset"].icon:before,  input[type="button"].icon:before,  button.icon:before,  .button.icon:before {
	margin-right: 0.5rem;
}
input[type="submit"].fit,  input[type="reset"].fit,  input[type="button"].fit,  button.fit,  .button.fit {
	display: block;
	margin: 0 0 1rem 0;
	width: 100%;
}
input[type="submit"].small,  input[type="reset"].small,  input[type="button"].small,  button.small,  .button.small {
	font-size: 0.8rem;
}
input[type="submit"].big,  input[type="reset"].big,  input[type="button"].big,  button.big,  .button.big {
	font-size: 1.35rem;
}
input[type="submit"].disabled, input[type="submit"]:disabled,  input[type="reset"].disabled,  input[type="reset"]:disabled,  input[type="button"].disabled,  input[type="button"]:disabled,  button.disabled,  button:disabled,  .button.disabled,  .button:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	opacity: 0.25;
}

@media screen and (max-width: 480px) {
input[type="submit"],  input[type="reset"],  input[type="button"],  button,  .button {
	padding: 0;
	width: 100%;
}
}
input[type="submit"],  input[type="reset"],  input[type="button"],  button,  .button {
	background-color: #f2f2f2;
	color: #000 !important;
}
input[type="submit"]:hover,  input[type="reset"]:hover,  input[type="button"]:hover,  button:hover,  .button:hover {
	background-color: white;
}
input[type="submit"]:active,  input[type="reset"]:active,  input[type="button"]:active,  button:active,  .button:active {
	background-color: #e5e5e5;
}
input[type="submit"].alt,  input[type="reset"].alt,  input[type="button"].alt,  button.alt,  .button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
	color: #1e1f23 !important;
}
input[type="submit"].alt:hover,  input[type="reset"].alt:hover,  input[type="button"].alt:hover,  button.alt:hover,  .button.alt:hover {
	background-color: rgba(144, 144, 144, 0.075);
}
input[type="submit"].alt:active,  input[type="reset"].alt:active,  input[type="button"].alt:active,  button.alt:active,  .button.alt:active {
	background-color: rgba(144, 144, 144, 0.2);
}
input[type="submit"].alt.icon:before,  input[type="reset"].alt.icon:before,  input[type="button"].alt.icon:before,  button.alt.icon:before,  .button.alt.icon:before {
	color: #bbb;
}
input[type="submit"].special,  input[type="reset"].special,  input[type="button"].special,  button.special,  .button.special {
	background-color: #54a354;
	color: #ffffff !important;
}
input[type="submit"].special:hover,  input[type="reset"].special:hover,  input[type="button"].special:hover,  button.special:hover,  .button.special:hover {
	background-color: #62ae62;
}
input[type="submit"].special:active,  input[type="reset"].special:active,  input[type="button"].special:active,  button.special:active,  .button.special:active {
	background-color: #4b924b;
}
/* Form */

form {
	margin: 0 0 2rem 0;
}
label {
	display: block;
	font-size: 0.9rem;
	font-weight: 700;
	margin: 0 0 1rem 0;
}
input[type="text"],  input[type="password"],  input[type="email"],  select,  textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 4px;
	border: none;
	border: solid 1px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1rem;
	text-decoration: none;
	width: 100%;
}
 input[type="text"]:invalid,  input[type="password"]:invalid,  input[type="email"]:invalid,  select:invalid,  textarea:invalid {
 box-shadow: none;
}
.select-wrapper {
	text-decoration: none;
	display: block;
	position: relative;
}
.select-wrapper:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.select-wrapper:before {
	content: '\f078';
	display: block;
	height: 2.75rem;
	line-height: 2.75rem;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 2.75rem;
}
 .select-wrapper select::-ms-expand {
 display: none;
}
input[type="text"],  input[type="password"],  input[type="email"],  select {
	height: 2.75rem;
}
textarea {
	padding: 0.75rem 1rem;
}
input[type="checkbox"],  input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2rem;
	opacity: 0;
	width: 1rem;
	z-index: -1;
}
input[type="checkbox"] + label,  input[type="radio"] + label {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 300;
	padding-left: 2.4rem;
	padding-right: 0.75rem;
	position: relative;
}
input[type="checkbox"] + label:before,  input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
input[type="checkbox"] + label:before,  input[type="radio"] + label:before {
	border-radius: 4px;
	border: solid 1px;
	content: '';
	display: inline-block;
	height: 1.65rem;
	left: 0;
	line-height: 1.58125rem;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.65rem;
}
input[type="checkbox"]:checked + label:before,  input[type="radio"]:checked + label:before {
	content: '\f00c';
}
input[type="checkbox"] + label:before {
	border-radius: 4px;
}
input[type="radio"] + label:before {
	border-radius: 100%;
}

	::-webkit-input-placeholder {
 opacity: 1.0;
}

	:-moz-placeholder {
 opacity: 1.0;
}

	::-moz-placeholder {
 opacity: 1.0;
}

	:-ms-input-placeholder {
 opacity: 1.0;
}
.formerize-placeholder {
	opacity: 1.0;
}
label {
	color: #1e1f23;
}
input[type="text"],  input[type="password"],  input[type="email"],  select,  textarea {
	background: rgba(144, 144, 144, 0.075);
	border-color: rgba(144, 144, 144, 0.25);
}
input[type="text"]:focus,  input[type="password"]:focus,  input[type="email"]:focus,  select:focus,  textarea:focus {
	border-color: #54a354;
	box-shadow: 0 0 0 1px #54a354;
}
.select-wrapper:before {
	color: rgba(144, 144, 144, 0.25);
}
input[type="checkbox"] + label,  input[type="radio"] + label {
	color: rgba(0, 0, 0, 0.5);
}
input[type="checkbox"] + label:before,  input[type="radio"] + label:before {
	background: rgba(144, 144, 144, 0.075);
	border-color: rgba(144, 144, 144, 0.25);
}
input[type="checkbox"]:checked + label:before,  input[type="radio"]:checked + label:before {
	background-color: #54a354;
	border-color: #54a354;
	color: #ffffff;
}
input[type="checkbox"]:focus + label:before,  input[type="radio"]:focus + label:before {
	border-color: #54a354;
	box-shadow: 0 0 0 1px #54a354;
}

	::-webkit-input-placeholder {
 color: #bbb !important;
}

	:-moz-placeholder {
 color: #bbb !important;
}

	::-moz-placeholder {
 color: #bbb !important;
}

	:-ms-input-placeholder {
 color: #bbb !important;
}
.formerize-placeholder {
	color: #bbb !important;
}
/* Gallery */

.gallery {
	width: 100%;
	margin: 0;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}
.gallery .image.fit {
	margin: 0;
}
.gallery > * {
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}
.gallery > * {
	width: 50%;
}

@media screen and (max-width: 980px) {
.gallery > * {
	width: 100%;
}
}
/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.icon > .label {
	display: none;
}
/* Image */

.image {
	background-image: url("../../images/ricv.jpeg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	position: relative;
}
.image.flush {
	margin: 0 !important;
}
.image img {
	display: block;
}
.image.left, .image.right {
	max-width: 50%;
}
.image.left img, .image.right img {
	width: 100%;
}
.image.left {
	float: left;
	margin: 0 1rem 1rem 0;
	top: 0.25rem;
}
.image.right {
	float: right;
	margin: 0 0 1rem 1rem;
	top: 0.25rem;
}
.image.fit {
	display: block;
	margin: 0 0 2rem 0;
	width: 100%;
}
.image.fit img {
	width: 100%;
}
.image.main {
	display: block;
	margin: 0 0 3rem 0;
	width: 100%;
}
.image.main img {
	width: 100%;
}
/* List */

ol {
	list-style: decimal;
	margin: 0 0 2rem 0;
	padding-left: 1.25rem;
}
ol li {
	padding-left: 0.25rem;
}
ul {
	list-style: disc;
	margin: 0 0 2rem 0;
	padding-left: 1rem;
}
ul li {
	padding-left: 0.5rem;
}
ul.alt {
	list-style: none;
	padding-left: 0;
}
ul.alt li {
	border-top: solid 1px;
	padding: 0.5rem 0;
}
ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}
ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}
ul.icons li {
	display: inline-block;
	padding: 0 1rem 0 0;
}
ul.icons li:last-child {
	padding-right: 0;
}
ul.icons li .icon:before {
	font-size: 2rem;
}
ul.actions {
	cursor: default;
	list-style: none;
	padding-left: 0;
}
ul.actions li {
	display: inline-block;
	padding: 0 1rem 0 0;
	vertical-align: middle;
}
ul.actions li:last-child {
	padding-right: 0;
}
ul.actions.small li {
	padding: 0 0.5rem 0 0;
}
ul.actions.vertical li {
	display: block;
	padding: 1rem 0 0 0;
}
ul.actions.vertical li:first-child {
	padding-top: 0;
}
ul.actions.vertical li > * {
	margin-bottom: 0;
}
ul.actions.vertical.small li {
	padding: 0.5rem 0 0 0;
}
ul.actions.vertical.small li:first-child {
	padding-top: 0;
}
ul.actions.fit {
	display: table;
	margin-left: -1rem;
	padding: 0;
	table-layout: fixed;
	width: calc(100% + 1rem);
}
ul.actions.fit li {
	display: table-cell;
	padding: 0 0 0 1rem;
}
ul.actions.fit li > * {
	margin-bottom: 0;
}
ul.actions.fit.small {
	margin-left: -0.5rem;
	width: calc(100% + 0.5rem);
}
ul.actions.fit.small li {
	padding: 0 0 0 0.5rem;
}

@media screen and (max-width: 480px) {
ul.actions {
	margin: 0 0 2rem 0;
}
ul.actions li {
	padding: 1rem 0 0 0;
	display: block;
	text-align: center;
	width: 100%;
}
ul.actions li:first-child {
	padding-top: 0;
}
ul.actions li > * {
	width: 100%;
	margin: 0 !important;
}
ul.actions li > *.icon:before {
	margin-left: -2rem;
}
ul.actions.small li {
	padding: 0.5rem 0 0 0;
}
ul.actions.small li:first-child {
	padding-top: 0;
}
}
dl {
	margin: 0 0 2rem 0;
}
dl dt {
	display: block;
	font-weight: 700;
	margin: 0 0 1rem 0;
}
dl dd {
	margin-left: 2rem;
}
ul.alt li {
	border-top-color: rgba(144, 144, 144, 0.25);
}
/* Section/Article */

section.special, article.special {
	text-align: center;
}
header p {
	position: relative;
	margin: 0 0 1.5rem 0;
}
header h2 + p {
	font-size: 1.25rem;
	margin-top: -1rem;
}
header h3 + p {
	font-size: 1.1rem;
	margin-top: -0.8rem;
}
header h4 + p,  header h5 + p,  header h6 + p {
	font-size: 0.9rem;
	margin-top: -0.6rem;
}
header p {
	color: #bbb;
}
/*Spotlight */

.spotlight {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.spotlight > * {
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}
.spotlight > * {
	width: 50%;
}
.spotlight p:last-child {
	margin: 0;
}
.spotlight .inner {
	padding: 6rem;
}
.spotlight .image {
	margin: 0;
}
.spotlight .image img {
	width: 100%;
}
.spotlight.alt {
	background: #1e1f23;
	color: rgba(255, 255, 255, 0.25);
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	text-align: right;
}
.spotlight.alt > * {
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}
.spotlight.alt h3 {
	color: #FFF;
}
.spotlight.alt .image {
	-moz-order: 2;
	-webkit-order: 2;
	-ms-order: 2;
	order: 2;
}

@media screen and (max-width: 1280px) {
.spotlight .inner {
	padding: 4rem;
}
}

@media screen and (max-width: 980px) {
.spotlight {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
}
.spotlight > * {
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}
.spotlight > * {
	width: 100%;
}
.spotlight.alt {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
}
.spotlight.alt > * {
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}
.spotlight.alt .image {
	-moz-order: 0;
	-webkit-order: 0;
	-ms-order: 0;
	order: 0;
}
}

@media screen and (max-width: 736px) {
.spotlight .inner {
	padding: 2rem;
}
}
/* Table */

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}
table {
	margin: 0 0 2rem 0;
	width: 100%;
}
table tbody tr {
	border: solid 1px;
	border-left: 0;
	border-right: 0;
}
table td {
	padding: 0.75rem 0.75rem;
}
table th {
	font-size: 0.9rem;
	font-weight: 700;
	padding: 0 0.75rem 0.75rem 0.75rem;
	text-align: left;
}
table thead {
	border-bottom: solid 2px;
}
table tfoot {
	border-top: solid 2px;
}
table.alt {
	border-collapse: separate;
}
table.alt tbody tr td {
	border: solid 1px;
	border-left-width: 0;
	border-top-width: 0;
}
table.alt tbody tr td:first-child {
	border-left-width: 1px;
}
table.alt tbody tr:first-child td {
	border-top-width: 1px;
}
table.alt thead {
	border-bottom: 0;
}
table.alt tfoot {
	border-top: 0;
}
table tbody tr {
	border-color: rgba(144, 144, 144, 0.25);
}
table tbody tr:nth-child(2n + 1) {
	background-color: rgba(144, 144, 144, 0.075);
}
table th {
	color: #1e1f23;
}
table thead {
	border-bottom-color: rgba(144, 144, 144, 0.25);
}
table tfoot {
	border-top-color: rgba(144, 144, 144, 0.25);
}
table.alt tbody tr td {
	border-color: rgba(144, 144, 144, 0.25);
}
/* Header */


#navbar {
	background-color: rgba(6,8,17,0); /* Black background color */
	position: fixed; /* Make it stick/fixed */
	top: -50px; /* Hide the navbar 50 px outside of the top view */
	width: 100%; /* Full width */
	transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
/* Style the navbar links */
#navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}
#navbar a:hover {
	background-color: #ddd;
	color: black;
}
.navbar-font {
	color: rgba(249,255,237,0.76);
	font-family: "Lato Black";
	font-size: 25px;
	padding: 0%;
	font-weight: bold;
	font-variant-caps: all-petite-caps;
}
body {
	padding-top: 8rem;
}
body.is-loading:after {
	visibility: hidden;
	opacity: 0;
}

.downarr {
	width: 100%; height: 100%; margin-top: 20%; margin-bottom: 20%; 
}

@media screen and (max-width:720px) {
	.downarr {
		width: 100%; height: 100%; margin-top: 70%; margin-bottom: 20%;
	}
}

body:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	-webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	-ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	transition: opacity 1.5s ease-in-out, visibility 1.5s;
	content: '';
	/*background: linear-gradient(-45deg, #7638ff, #32ffee);*/
	background-image: url(../../images/ricv1.jpg);
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	visibility: visible;
	opacity: 1;
}

@media only screen and (max-width: 720px) {
body:after {
	background-image: url(../../images/ricv.jpg);
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
}
}
#header {
	color: #a6a6a6;
	cursor: default;
	position: relative;
	text-align: center;
	z-index: 10001;
}
#header > .logo {
	margin: 0 0 4rem 0;
	padding: 0;
}
#header > .logo a {
	font-size: 4rem;
	font-weight: 700;
	color: #FFF;
	text-decoration: none;
	line-height: 1rem;
}
#header > .logo span {
	font-weight: 300;
	font-size: 1rem;
	display: block;
	color: rgba(255, 255, 255, 0.65);
}

@media screen and (max-width: 1280px) {
body {
	padding-top: 6rem;
	background-attachment: scroll;
	background-size: auto;
	background-position: top;
}
}

@media screen and (max-width: 736px) {
#header > .logo {
	margin: 0 0 2rem 0;
}
#header > .logo a {
	font-size: 2rem;
}
}
/* Main */

#main > .inner {
	margin: 0 auto;
	width: 80rem;
	max-width: 90%;
	margin-bottom: 2rem;
	background: rgba(255, 255, 255, 0.95);
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
}

@media screen and (max-width: 980px) {
#main .image {
	width: 100%;
	min-width: 100%;
	float: none;
	margin: 0 0 2rem 0;
}
#main .image img {
	width: 100%;
}
}
.wrapper > header {
	text-align: center;
	background: #FFF;
	padding: 2rem;
	margin: 0;
}
.wrapper > header h2 {
	position: relative;
	padding-bottom: .75rem;
}
.wrapper > header h2:after {
	content: '';
	position: absolute;
	margin: auto;
	right: 0;
	bottom: 0;
	left: 0;
	width: 10%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.125);
}
.wrapper > header p {
	text-transform: uppercase;
	font-weight: 300;
	font-size: .8rem;
	letter-spacing: .25rem;
	margin: 0;
}
.wrapper > header.special {
	padding: 4rem 2rem;
}

@media screen and (max-width: 980px) {
.wrapper > header.special {
	padding: 3rem 2rem;
}
}

@media screen and (max-width: 736px) {
.wrapper > header {
	padding: 1.5rem;
}
.wrapper > header h2 {
	font-size: 1.5rem;
}
.wrapper > header h2:after {
	width: 50%;
}
}
.wrapper.style1 .content {
	padding: 6rem;
}

@media screen and (max-width: 1280px) {
.wrapper.style1 .content {
	padding: 4rem;
}
}

@media screen and (max-width: 736px) {
.wrapper.style1 .content {
	padding: 2rem;
}
}
.wrapper.style2 {
	background: #1e1f23;
	padding: 6rem;
}
.wrapper.style2 header {
	background: #121315;
	border-radius: 4px 4px 0 0;
}
.wrapper.style2 header h2 {
	color: #FFF;
}
.wrapper.style2 header h2:after {
	background-color: rgba(255, 255, 255, 0.125);
}
.wrapper.style2 header p {
	color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 1280px) {
.wrapper.style2 {
	padding: 4rem;
}
}

@media screen and (max-width: 736px) {
.wrapper.style2 {
	padding: 2rem;
}
}
/* Footer */

#footer {
	padding: 2rem 0 0.1rem 0;
	text-align: center;
}
#footer a {
	color: rgba(255, 255, 255, 0.75);
}
#footer a:hover {
	color: #FFF;
}
#footer .copyright {
	color: #bbb;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;
	padding: 0 1rem;
	text-align: center;
}

@media screen and (max-width: 736px) {
#footer {
	padding: 1rem 0 0.1rem 0;
}
}
